h1 {
   color: #490b0b;
}
#container {
   
   padding: 16px;
}
li {
   margin-buttom: 8px;
}
.delete-button {
   background-color: #490b0b;
   color: white;
   border: none;
   padding: 4px;
   border-radius: 8px;
   cursor: pointer;
   margin-left: 16px;
}